<div class="row m-0 shadow-sm rounded" id="pageHeader" th:fragment="toystore_header_channel">
    <a th:href="@{/ui/home}">Home</a>
    &nbsp; > &nbsp;
    <a th:href="@{/ui/channel}">Channel</a>
</div>

<form id="channel-form" th:fragment="toystore_form_channel">
    <div class="row">
        <label style="width: 200px" for="inputChannelName" class="col-form-label justify-content-start">Channel
            Name</label>
        <input type="text" class="col form-control" name="channel" id="inputChannelName" placeholder="Enter Name"
            required>
    </div>
    <div class="row">
        <label style="width: 200px;" for="inputInvoiceType" class="col-form-label justify-content-start">Invoice
            Type</label>
        <select class="col form-control" name="invoiceType" id="inputInvoiceType">
            <option value="channel" selected>Channel</option>
            <option value="self" selected>Self</option>
        </select>
    </div>
    <div class="row">
        <div class="col p-0 text-right">
            <button type="submit" class="btn btn-primary btn-sm" id="add-channel" form="channel-form">Add</button>
            &nbsp;
            <button type="button" class="btn btn-primary btn-sm" id="refresh-data">Refresh</button>
        </div>
    </div>
</form>