<div class="row m-0 shadow-sm rounded" id="pageHeader" th:fragment="toystore_order_preview_header">
    <a th:href="@{/ui/home}">
        <div class="row" style="width:max-content">
            <div class="col p-0"><i class="material-icons">&#xe88a;</i></div>
            <div class="col p-0">Home</div>
        </div>
    </a>
    &nbsp;/&nbsp;
    <a th:href="@{/ui/order}">
        <div class="row" style="width:max-content">
            <div class="col p-0"><i class="material-icons">&#xe88a;</i></div>
            <div class="col p-0">Order</div>
        </div>
    </a>
    &nbsp;/&nbsp;
    Order Preview
</div>
<div class="row" th:fragment="toystore_order_preview_table">
    <!-- Table -->
    <div class="col p-0">
        <table class="table table-striped" id="order-preview-table">
            <thead>
                <tr>
                    <th scope="col">Client ID</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Channel ID</th>
                    <th scope="col">Channel Order ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<div class="row" th:fragment="toystore_order_preview_item_table">
    <!-- Table -->
    <div class="col p-0">
        <table class="table table-striped" id="order-item-preview-table">
            <thead>
                <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">GLobal Sku ID</th>
                    <th scope="col">Ordered Quantity</th>
                    <th scope="col">Allocated Quantity</th>
                    <th scope="col">Fulfilled Quantity</th>
                    <th scope="col">Selling Price</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>