<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>
    <div th:replace="order_preview_snippets.html :: toystore_order_preview_header"></div>
    <div id="container">
        <h3 class="p-0" id="orderIdSelect">Order ID: [[${orderId}]]</h3>
        <div th:replace="order_preview_snippets.html :: toystore_order_preview_table"></div>
        <hr>
        <h4 class="p-0">Order Line Items</h4>
        <div th:replace="order_preview_snippets.html :: toystore_order_preview_item_table"></div>

    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>

    <!-- <script th:src="@{/static/channelListingUtil.js}" /> -->
    <script th:src="@{/static/orderPreview.js}" />
    </script>

</body>

</html>